@model WebApplication3.Models.rank

@{
    ViewData["Title"] = "EditRank";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>EditRank</h1>

<h4>rank</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditRank">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id_ranks" />
            <div class="form-group">
                <label asp-for="range" class="control-label"></label>
                <input asp-for="range" class="form-control" />
                <span asp-validation-for="range" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pts" class="control-label"></label>
                <input asp-for="Pts" class="form-control" />
                <span asp-validation-for="Pts" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="IndexRanks">Back to List</a>
</div>

